// colors
$gradient-bg: linear-gradient(180deg, #0D1E48, #304571);
$primary-color: #EBFF00;
$secondary-color: #FF70D9;
$default-color: #FFFFFF;
$dark-color: black;

// responsive
$max-content: 1215px;
$min-content: 360px;
