// colors
$gradient-bg: linear-gradient(180deg, #0D1E48, #304571);
$primary-color: #EBFF00;
$secondary-color: #FF70D9;
$default-color: #FFFFFF;
$dark-color: black;

// responsive
$max-content: 1215px;
$min-content: 360px;


// text

// общее
// font-family: Lato;


// меню
// font-weight: 700;
// font-size: 18px;
// line-height: 21.6px;
// letter-spacing: 0px;

// баннер 1
// font-weight: 800;
// font-size: 72px;
// line-height: 72px;
// letter-spacing: 0%;
// баннер 2
// font-weight: 800;
// font-size: 32px;
// line-height: 38.4px;
// letter-spacing: 0%;

// артикл большой 1
// font-weight: 800;
// font-size: 74px;
// line-height: 74px;
// letter-spacing: 0%;
// артикл большой 1
// font-weight: 800;
// font-size: 26px;
// line-height: 31.2px;
// letter-spacing: 0%;

// артикл малый 1
// font-weight: 800;
// font-size: 46px;
// line-height: 46px;
// letter-spacing: 0%;
// артикл малый 2
// font-weight: 800;
// font-size: 24px;
// line-height: 28.8px;
// letter-spacing: 0%;

// info 1
// font-weight: 800;
// font-size: 32px;
// line-height: 38.4px;
// letter-spacing: 0%;
// info 2
// font-weight: 700;
// font-size: 20px;
// line-height: 24px;
// letter-spacing: 0%;


