@import "normalize";
@import "variables";
@import "mixins";

.App {
  display: flex;
  flex-direction: column;
  background: $gradient-bg;
  font-family: 'Lato', sans-serif;
  color: $default-color;
  min-height: 100vh;
}
