@import "variables";
@import "mixins";

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: $dark-color;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $max-content;
  }
  &__logo {
    display: flex;
    gap: 5px;
  }
  &__menu {
    display: flex;
    gap: 54px;
    // justify-content: space-between;
  }
}

