@import "variables";
@import "mixins";

.Info {
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: $max-content;
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 38.4px;
    margin: 62px 0 16px;

    @include responsive(tablet) {
      margin: 55px 0 12px;
    }
    @include responsive(mobile) {
      margin: 50px 0 20px;
    }
  }

  &__description {
    opacity: .6;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
  }

  &__button {
    margin: 16px 0 60px;
    @include responsive(tablet) {
      margin: 20px 0 52px;
    }
    @include responsive(mobile) {
      margin: 20px 0 50px;
    }
  }
}

