@import "variables";
@import "mixins";

.Offers {
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: $max-content;
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 38.4px;
    margin: 58px 0 40px;

    @include responsive(tablet) {
      margin: 55px 0 30px;
    }
    @include responsive(mobile) {
      margin: 50px 0 30px;
    }
  }

  &__cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
}

