@import "../.././styles/variables";
@import "../.././styles/mixins";

.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 490px;
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) -0.52%, rgba(15, 20, 32, 0.79) 99.48%), url('../../assets//images//space1.jpg');
  background-size: cover;

  @include responsive(tablet) {
    height: 420px;
  }

  @include responsive(mobile) {
    height: 450px;
  }


  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $max-content;
    margin: 0 30px;

    @include responsive(mobile) {
      flex-direction: column-reverse;

      position: relative;
      top: -70px;
    }
  }

  &__content {
    margin-right: 100px;
    max-width: 690px;
    min-width: 690px;
    display: flex;
    flex-direction: column;
    gap: 22px;

    @include responsive(tablet) {
      max-width: 410px;
      min-width: 410px;
    }

    @include responsive(mobile) {
      margin-right: 0;
      align-items: center;
      gap: 16px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 72px;
    line-height: 72px;
    &_highlight {
      color: $secondary-color;
    }

    @include responsive(tablet) {
      font-size: 48px;
      line-height: 48px;
    }
    @include responsive(mobile) {
      font-size: 36px;
      line-height: 36px;
      text-align: center;
    }
  }

  &__subtitle {
    font-weight: 800;
    font-size: 32px;
    line-height: 38.4px;
    &_highlight {
      color: $primary-color;
    }

    @include responsive(tablet) {
      font-size: 22px;
      line-height: 26.4px;
    }
    @include responsive(mobile) {
      font-size: 16px;
      line-height: 19.2px;
      text-align: center;
    }
  }

  &__image {
    width: 327px;
    @include responsive(tablet) {
      width: 300px;
    }
  }
}


