@import "../../styles/variables";
@import "../../styles/mixins";

.Header {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: $dark-color;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $max-content;
    margin: 0 30px;
  }
  &__logo {
    display: flex;
    gap: 5px;
  }
}
